@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(50px); /* Mueve 20px hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
  }
}

.animate-slideUpAndFade {
  animation: slideUpAndFade 1.5s ease-out forwards; /* Duración de 1.5 segundos */
  animation-delay: 0.5s; /* Empieza 0.5 segundos después de cargar */
}