---

---

<header 
  x-data="{ isOpen: false }" 
  class="sticky top-0 z-50 w-full 
         bg-brand-dark/90 backdrop-blur-lg 
         border-b border-brand-gray"
>
  <nav class="container mx-auto max-w-5xl p-4">
    <div class="flex justify-between items-center">

      <a href="/" class="text-xl font-bold text-white hover:text-brand-red transition-colors">
        Daniela López
      </a>

      <ul class="hidden md:flex gap-6 text-brand-light">
        <li>
          <a href="/#proyectos" class="hover:text-brand-red transition-colors">
            Proyectos
          </a>
        </li>
        <li>
          <a href="#contacto" class="hover:text-brand-red transition-colors">
            Contacto
          </a>
        </li>
      </ul>

    </div>
  </nav>

</header>